*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    border-bottom: 15px solid green;

}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation:pipe-animation 2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 800ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 15s infinite linear;
}

@keyframes pipe-animation{
    from{
        right:-80px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    50%{
        
    }
    60%{

    }
}